[Desktop Entry]
Type=Application
Version=1.0
Name=Soplos Welcome Live
Name[en]=Soplos Welcome Live
Name[es]=Bienvenida a Soplos (Live)
Name[fr]=Bienvenue à Soplos (Live)
Name[de]=Willkommen bei Soplos (Live)
Name[pt]=Bem-vindo ao Soplos (Live)
Name[it]=Benvenuto in Soplos (Live)
Name[ro]=Bun venit la Soplos (Live)
Name[ru]=Добро пожаловать в Soplos (Live)
GenericName=Welcome Application
GenericName[es]=Aplicación de Bienvenida
GenericName[fr]=Application de Bienvenue
GenericName[de]=Willkommensanwendung
GenericName[pt]=Aplicativo de Boas-vindas
GenericName[it]=Applicazione di Benvenuto
GenericName[ro]=Aplicație de Bun Venit
GenericName[ru]=Приложение приветствия
Comment=Welcome to Soplos Linux Live Session
Comment[es]=Bienvenido a la sesión Live de Soplos Linux
Comment[fr]=Bienvenue dans la session Live de Soplos Linux
Comment[de]=Willkommen bei der Soplos Linux Live-Sitzung
Comment[pt]=Bem-vindo à sessão Live do Soplos Linux
Comment[it]=Benvenuto nella sessione Live di Soplos Linux
Comment[ro]=Bine ați venit în sesiunea Live Soplos Linux
Comment[ru]=Добро пожаловать в Live-сеанс Soplos Linux
Keywords=welcome;soplos;live;install;
Keywords[en]=welcome;soplos;live;install;
Keywords[es]=bienvenida;soplos;live;instalar;
Keywords[fr]=accueil;soplos;live;installer;
Keywords[de]=willkommen;soplos;live;installieren;
Keywords[pt]=bem-vindo;soplos;live;instalar;
Keywords[it]=benvenuto;soplos;live;installa;
Keywords[ro]=bun venit;soplos;live;instalare;
Keywords[ru]=добро пожаловать;soplos;live;установка;
Exec=soplos-welcome-live
Icon=org.soplos.welcomelive
Terminal=false
Categories=System;Utility;
StartupNotify=true
StartupWMClass=org.soplos.welcomelive
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
X-XFCE-Autostart-Override=true
