[Desktop Entry]
Type=Application
Version=1.0
Name=Soplos Welcome Live
Name[es]=Soplos Welcome Live
Name[fr]=Soplos Welcome Live
Name[de]=Soplos Welcome Live
Name[pt]=Soplos Welcome Live
Name[it]=Soplos Welcome Live
Name[ro]=Soplos Welcome Live
Name[ru]=Soplos Welcome Live
GenericName=Welcome Application
GenericName[es]=Aplicación de Bienvenida
GenericName[fr]=Application de Bienvenue
GenericName[de]=Willkommensanwendung
GenericName[pt]=Aplicativo de Boas-vindas
GenericName[it]=Applicazione di Benvenuto
GenericName[ro]=Aplicație de Bun Venit
GenericName[ru]=Приложение приветствия
Comment=Welcome to Soplos Linux Live Session
Comment[es]=Bienvenido a la sesión Live de Soplos Linux
Comment[fr]=Bienvenue dans la session Live de Soplos Linux
Comment[de]=Willkommen bei der Soplos Linux Live-Sitzung
Comment[pt]=Bem-vindo à sessão Live do Soplos Linux
Comment[it]=Benvenuto nella sessione Live di Soplos Linux
Comment[ro]=Bine ați venit în sesiunea Live Soplos Linux
Comment[ru]=Добро пожаловать в Live-сеанс Soplos Linux
Keywords=welcome;soplos;live;install;
Keywords[es]=bienvenida;soplos;live;instalar;
Exec=soplos-welcome-live
Icon=org.soplos.welcomelive
Terminal=false
Categories=System;Utility;
StartupNotify=true
StartupWMClass=org.soplos.welcomelive
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
X-XFCE-Autostart-Override=true
